
{{if match.winner 'Blue Victory' 'Red Victory'}}

<p>{{match.blueKills}} - {{match.redKills}}</p>
<tr>
  <th>Player Name</th>
  <th>Kills</th>
  <th>Deaths</th>
  <th>Assists</th>
  <th>Champion</th>
</tr>
{{#each match.games as |game|}}
  <tr>    
    <td>{{game.player.summonerName}}</td>
    <td>{{game.kills}}</td>
    <td>{{game.deaths}}</td>
    <td>{{game.assists}}</td>
    <td><{{game.championId}}/td>
  </tr>
{{/each}}
